{% extends 'AppPeliculas/padre.html' %}

{%load static%}

{% block contenidoquecambia %}
<br>
    <h1>
        <center>
            GÉNERO ACCIÓN
        </center>
    </h1>

    <br>

    <body>
        <center>
        <form action=""    method="post">{% csrf_token %}
            <table>
                {{miFormulario.as_table}}
            </table>
            <input type="submit",value="Enviar">
         </form>
         <br>

         <a class="navbar-brand" href="{% url 'alist' %}">Lista de películas de acción</a>

    </body>


    {% endblock %}