{% extends 'AppPeliculas/padre.html' %}

{%load static%}

{% block contenidoquecambia %}
<br>
    <h1>
        <center>
            <header class="travis">
                <div class="container position-relative">
                    <div class="row justify-content-center">
                        <div class="col-xl-6">
                            <div class="text-center text-white">
                                <!-- Page heading-->
                                <h1 class="mb-5">SOBRE NOSOTROS</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>           
        </center>
    </h1>

<body>
    <p1>
        <center>
        Esta web es para que puedas encontrar fácilmente las mejores películas de los géneros más populares.
    <p1>
</body>



    {% endblock %}